{{ define "main" }}
<article>
    {{ if not .Params.hideDate }}
    <p class="post-meta">
        <time datetime="{{ .Date }}">
            {{ .Date | time.Format site.Params.theme_config.date_format }}
        </time>
    </p>
    {{ end }}
    {{ if not .Params.hideTitle }}
    <h1 style='font-size:1.2rem;'>{{ if .Params.heading }}{{ .Params.heading }}{{ else }}{{ .Title }}{{ end }}</h1>
    {{ end }}
    {{ if .Params.toc }}
        <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
            {{ .TableOfContents }}
        </aside>
    {{ end }}
    {{ .Content }}
</article>
{{ end }}