{{ define "main" }}

<article>
    {{ if not .Params.hideDate }}
    <p class="post-meta">
        <time datetime="{{ .Date }}">
            {{ .Date | time.Format site.Params.theme_config.date_format }}
        </time>
    </p>
    {{ end }}

    <h1>{{ .Title }}</h1>

    {{ if .Params.toc }}
        <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
            {{ .TableOfContents }}
        </aside>
    {{ end }}

    {{ .Content }}

    {{ if or .PrevInSection .NextInSection }}
    <nav style='display:flex;justify-content:space-between;margin-top:1.5rem;font-family:monospace;'>
        {{ if .NextInSection }}
        <a href="{{ .NextInSection.Permalink }}" style='text-decoration:none;'>← precedente</a>
        {{ else }}<span></span>{{ end }}
        {{ if .PrevInSection }}
        <a href="{{ .PrevInSection.Permalink }}" style='text-decoration:none;'>successivo →</a>
        {{ else }}<span></span>{{ end }}
    </nav>
    {{ end }}

</article>

{{ end }}